* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.divlogo {
    width: 30%;
    height: 30%;
}
.title{
    font-size: 3rem;
    color: #2771c7;
}
.logo {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.forminput {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputdiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px
}
.containerimg {
    width: 50%;
    height: 100vh;
}

.imgvisual {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

input {
    width: 50%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgba(63, 62, 62, 0.3);
    padding: 10px;
    font-size: 18px;
    outline: none;
}
.btn_acess{
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    margin:20px 0px 20px 0px;
    background-color: rgb(101, 157, 241);
    color: #fff;
}
.btn_acess:hover{
    background-color: #2771c7;
}