* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.layout_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1px);
    z-index: 998;
}

.background {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #f3f3f3;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    border-radius: 10px;
}

.closepopup {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    border: none;
    font-weight: bold;
    color: #fff
}

.btn_concluir {
    padding: 0.75rem;
    background-color: #949796;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn_closepop {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: #000000;
    font-weight: bold;
    font-size: 12px;
}

.btn_closepop:hover {
    border-radius: 50%;
    background-color: rgb(185, 186, 186);
    color: #FFF;
}

.modalsucesso {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    
}
.modalsucesso h1  {
    color: #138f93;
}
.modalsucesso p {
    color: #16a55e;
    font-weight: bold;
}
.modal {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.modal h1 {
    color: red;
}

.modal p {
    color: #000;
    font-weight: bold;
}

.divbtn {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn_cancelar {
    padding: 0.75rem;
    background-color: transparent;
    border: none;
    border-radius: none;
    font-weight: bold;
}

.btn_cancelar:hover {
    background-color: rgb(185, 186, 186);
    border-radius: 10px;
}

.btn_deletar {
    padding: 0.75rem;
    background-color: #ff2424;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn_deletar:hover {
    opacity: 0.9;
}