.alertcontainer {
    width: fit-content;
    max-width: 90%;
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    z-index: 9999;
}

.textaviso {
    display: flex;
    align-items: center;
    background-color: #fff5f5;
    font-weight: bold;
    font-size: 18px;
    color: #c53030;
    padding: 12px 20px;
    border-radius: 8px;
    border-left: 5px solid #f56565;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    animation: comic 0.8s ease-out;
}
.textaviso::before{
    content: '⚠️';
    margin-right: 10px;
}
@keyframes comic {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform:translateY(0);
    }
}